<!-- contact.html | © 2021 DroneBuild INC. -->

{% extends 'base-drone.html' %}

{% block title %}
	<title> Saina Koukpari Contact </title>
	<meta name='description' content='Contact us if you have any questions'>
	<meta name='keywords' content='drone, fpv, software, 5" drone, specs, build, racing'>
{% endblock %}

{% block body %}
<section class='mt-3 py-5 border-top background-gray'>
<div class='container'>
	<div class='row mt-2 mb-4 pt-5 justify-content-center'>
	<div class='col-12 col-lg-8 mt-5'>
		<h3 class='text-center'> More details coming soon! </h3>
		<p class='mt-4 text-center text-muted'> Visit my personal website <a class='mt-4 text-center text-muted' href="{{ url_for('home') }}"> here </a> for more. </p>
	</div>
	</div>

	<!-- <div class='row mt-5 pb-5 justify-content-center'> -->
<!-- 	<div class='col-12 col-lg-9'>
		<form method='POST' action=''>
		{{ form.hidden_tag() }}
		{% if success %}
			<div class='col-12 mb-5 text-center'> Thanks for reaching out! We'll get back to you within 2-3 business days. </div>
		{% endif %}
		<fieldset>
			<div class='row'>
            <div class='col-12 col-md-6'>
				{% if form.name.errors %}
					<div class='mb-2'>
						{% for error in form.name.errors[:1] %}
							<span> {{ error }} </span>
						{% endfor %}
					</div>
					{{ form.name(class='form-control form-control-lg is-invalid') }}
				{% elif success %}
					{{ form.name.label(class='form-control-label') }}
					{{ form.name(class='form-control form-control-lg', value='') }}
				{% else %}
					{{ form.name.label(class='form-control-label') }}
					{{ form.name(class='form-control form-control-lg') }}
				{% endif %}
            </div>
            <div class='col-12 col-md-6 mt-4 mt-md-0'>
				{% if form.email.errors %}
					<div class='mb-2'>
						{% for error in form.email.errors[:1] %}
							<span> {{ error }} </span>
						{% endfor %}
					</div>
					{{ form.email(class='form-control form-control-lg is-invalid') }}
				{% elif success %}
					{{ form.email.label(class='form-control-label') }}
					{{ form.email(class='form-control form-control-lg', value='') }}
				{% else %}
					{{ form.email.label(class='form-control-label') }}
					{{ form.email(class='form-control form-control-lg') }}
				{% endif %}
			</div>
			</div>
			<div class='row justify-content-center'>
			<div class='col-12 mt-4'>
				{% if form.message.errors %}
					<div class='mb-2'>
						{% for error in form.message.errors[:1] %}
							<span> {{ error }} </span>
						{% endfor %}
					</div>
					{{ form.message(class='form-control form-control-lg is-invalid', maxlength='1000', style='min-height:175px') }}
				{% elif success %}
					{{ form.message.label(class='form-control-label') }}
					{{ form.message(class='form-control form-control-lg', id='body-input', maxlength='1000', style='min-height:175px') }}
				{% else %}
					{{ form.message.label(class='form-control-label') }}
					{{ form.message(class='form-control form-control-lg', maxlength='1000', style='min-height:175px') }}
				{% endif %}
			</div>
			<div class='mt-5'> 
				{% if form.recaptcha.errors[:1] %}
					<div class='mb-2'>
						<span> So you are a robot? </span>
					</div>
					{{ form.recaptcha }}
				{% else %}
					{{ form.recaptcha }}
				{% endif %}
			</div>
			</div>
			<div class='row justify-content-center'>
			<div class='col-6 col-md-4 mt-4'>
				{{ form.submit(class='p-2 btn btn-primary btn-sm button-highlight navbar-btn') }}
			</div>
			</div>
		</fieldset>
		</form>
	</div> -->
	<!-- </div> -->
</div>
</section>

<div class='mb-5 pb-5 border-light border-rel'> / </div>

<script>
	document.getElementById('body-input').value=''
    if(window.history.replaceState) {
    	window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %}