	</!DOCTYPE html>
	<html>
	<head>
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/base.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<meta charset=utf-8>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		{% block title %}
		{% endblock %}
		<link rel='apple-touch-icon' sizes='180x180' href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
		<link rel='icon' type='image/png' sizes='32x32' href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
		<link rel='icon' type='image/png' sizes='16x16' href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
		<link rel='manifest' href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
		<link href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet'>
	</head>
	<body>

	<nav class="mt-0 p-3 navbar navbar-expand-lg navbar-dark bg-dark" style='background: #000000!important'>
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"></span>
        <a class='ml-3 font-logo navbar-brand' href="{{ url_for('home') }}"> DroneBuild. </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
			<li class='nav-item'> <a class='text-light mx-2 font-header links nav-link' href="{{ url_for('software') }}"> Software </a> </li>
			<li class='nav-item'> <a class='text-light mx-2 font-header links nav-link' href="{{ url_for('film') }}"> Film</a> </li>
			<li class='nav-item'> <a class='text-light ml-2 mr-3 font-header links nav-link' href="{{ url_for('contact') }}"> Contact </a> </li>
        </ul>
	</div>
	</nav>

	{% block body %}
	{% endblock %}

	<footer class='base bg-gray-700' style='background: #000000!important'>
	<div class='container p-3'>
		<div class='row mt-3 justify-content-center'>
		<div class='col-12 col-md-8 text-center'>
			<a class='m-0 mb-0 font-logo navbar-brand' href="{{ url_for('home') }}"> Drone Build </a>
		</div>
		</div>
		<div class='row p-3 justify-content-center pt-0'>
		<div class='col-12 col-md-10 text-center'>
			<ul class='mb-2 list-unstyled'>
				<li class='nav-item'> <a class='mx-2 font-header links nav-link' href="{{ url_for('software') }}"> Software(GitHub) </a> </li>
				<li class='nav-item'> <a class='font-header links nav-link' href="{{ url_for('contact') }}"> Contact </a> </li>
			</ul>
		</div>
		</div>
		<div class='row mb-3 justify-content-center'>
		<div class='col-12 col-md-8 text-center'>
			<ul class='list-inline list-unstyled '>
				<li class='list-inline-item'> <small class='text-muted'> &#169; 2021 Copyright: Drone Build </small> </li>
			</ul>
		</div>
		</div>
	</div>
	</footer>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous' referrerpolicy='no-referrer'></script>
	<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js' integrity='sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF' crossorigin='anonymous'></script>
	<!-- <script src="{{ url_for('static', filename='javascript/base.js') }}"></script> -->
	<script src='https://unpkg.com/aos@2.3.1/dist/aos.js'></script>
	<script> AOS.init() </script>
</body>
</html>