<!-- film.html | © 2021 DroneBuild -->

{% extends 'base.html' %}

{% block title %}
	<title> DroneBuild </title>
	<!-- <meta name='description' content='That URL extension does not exist.'> -->
  	<!-- <meta name='keywords' content='drone, fpv, racing, software, error, 404'> -->
{% endblock %}

{% block body %}
<section class='mt-3 py-5 border-top background-gray'>
<div class='container'>
	<div class='row py-5 justify-content-center'>
	<div class='col-12 col-lg-9 py-5'>
		<h4> Drone Footage </h4>
		<p class='mb-3 text-muted'> Coming Soon! </p>
	</div>
	</div>
</div>
</section>

<div class='mb-5 pb-5 border-light border-rel'> / </div>
{% endblock %}