<!-- software.html | © 2021 DroneBuild -->

{% extends 'base.html' %}

{% block title %}
	<title> DroneBuild </title>
	<!-- <meta name='description' content="Looks like we've got a bug in our code. Sorry for the inconvenience."> -->
  	<!-- <meta name='keywords' content='drone, fpv, racing, software, error, 500'> -->
{% endblock %}

{% block body %}
<section class='mt-3 py-5 border-top background-gray'>
<div class='container'>
	<div class='row py-5 justify-content-center'>
	<div class='col-12 col-lg-9 py-5'>
		<h4> Software - Link to Github </h4>
		<p class='mb-3 text-muted'> Take a look at <a href="https://github.com/saina-kouk/DroneBuild.git" class="link-primary">GitHub</a> to view the full code! </p>
	</div>
	</div>
</div>
</section>

<div class='mb-5 pb-5 border-light border-rel'> / </div>
{% endblock %}